life_prediction_autoai.json
[{"id":"2c98575a.a126a","type":"tab","label":"life_prediction_autoai","disabled":false,"info":""},{"id":"3e2f0ef.6b25cf2","type":"function","z":"2c98575a.a126a","name":"PreToken","func":"global.set(\"Country\",msg.payload.Country)\nglobal.set(\"Year\",msg.payload.Year)\nglobal.set(\"Status\",msg.payload.Status)\nglobal.set(\"Adult_Mortality\",msg.payload.Adult_Mortality)\nglobal.set(\"infant_deaths\",msg.payload.infant_deaths)\nglobal.set(\"Alcohol\",msg.payload.Alcohol)\nglobal.set(\"percentage_expenditure\",msg.payload.percentage_expenditure)\nglobal.set(\"Hepatitis_B\",msg.payload.Hepatitis_B)\nglobal.set(\"Measles\",msg.payload.Measles)\nglobal.set(\"BMI\",msg.payload.BMI)\nglobal.set(\"under_five_deaths\",msg.payload.under_five_deaths)\nglobal.set(\"Polio\",msg.payload.Polio)\nglobal.set(\"Total_expenditure\",msg.payload.Total_expenditure)\nglobal.set(\"Diphtheria\",msg.payload.Diphtheria)\nglobal.set(\"HIV_or_AIDS\",msg.payload.HIV_or_AIDS)\nglobal.set(\"GDP\",msg.payload.GDP)\nglobal.set(\"Population\",msg.payload.Population)\nglobal.set(\"thinness_1to19_years\",msg.payload.thinness_1to19_years)\nglobal.set(\"thinness_5to9_years\",msg.payload.thinness_5to9_years)\nglobal.set(\"Income_composition_of_resources\",msg.payload.Income_composition_of_resources)\nglobal.set(\"Schooling\",msg.payload.Schooling)\nvar apikey=\"clnTlrO_rMC9RPP8-fxT4tU0QVU63d10kRQ7r9DP_DI2\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":400,"wires":[["359a3542.a43aa2"]]},{"id":"359a3542.a43aa2","type":"http request","z":"2c98575a.a126a","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":519,"y":388.9999952316284,"wires":[["e0f15349.0c5a18"]]},{"id":"69a65103.b48d9","type":"inject","z":"2c98575a.a126a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":165.5,"y":313.99999809265137,"wires":[["3e2f0ef.6b25cf2"]]},{"id":"ceb0379c.753c18","type":"debug","z":"2c98575a.a126a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":958.0000114440918,"y":130.99999713897705,"wires":[]},{"id":"e0f15349.0c5a18","type":"function","z":"2c98575a.a126a","name":"Pre Prediction","func":"var a = global.get(\"Country\")\nvar b = global.get(\"Year\")\nvar c = global.get(\"Status\")\nvar d = global.get(\"Adult_Mortality\")\nvar e = global.get(\"infant_deaths\")\nvar f = global.get(\"Alcohol\")\nvar g = global.get(\"percentage_expenditure\")\nvar h = global.get(\"Hepatitis_B\")\nvar i = global.get(\"Measles\")\nvar j = global.get(\"BMI\")\nvar k = global.get(\"under_five_deaths\")\nvar l = global.get(\"Polio\")\nvar m = global.get(\"Total_expenditure\")\nvar n = global.get(\"Diphtheria\")\nvar o = global.get(\"HIV_or_AIDS\")\nvar p = global.get(\"GDP\")\nvar q = global.get(\"Population\")\nvar r = global.get(\"thinness_1to19_years\")\nvar s = global.get(\"thinness_5to9_years\")\nvar t = global.get(\"Income_composition_of_resources\")\nvar u = global.get(\"Schooling\")\nvar token=msg.payload.access_token\nvar instance_id=\"684a42d3-9e08-440c-bb2c-730033af34b0\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"Country\", \"Year\", \"Status\", \"Adult Mortality\", \"infant deaths\", \"Alcohol\", \"percentage expenditure\", \"Hepatitis B\", \"Measles \", \" BMI \", \"under-five deaths \", \"Polio\", \"Total expenditure\", \"Diphtheria \", \" HIV/AIDS\", \"GDP\", \"Population\", \" thinness  1-19 years\", \" thinness 5-9 years\", \"Income composition of resources\", \"Schooling\"], \"values\": [[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":716.0000076293945,"y":351.9999990463257,"wires":[["e20edf3d.0aabd8"]]},{"id":"e20edf3d.0aabd8","type":"http request","z":"2c98575a.a126a","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/d5b5c9d4-efcc-4ca8-9b5b-5a61613c8e66/predictions","tls":"","persist":false,"proxy":"","authType":"","x":809.5000076293945,"y":295.9999990463257,"wires":[["3ff5b59b.383512"]]},{"id":"5eab7c7d.5db4e4","type":"ui_text","z":"2c98575a.a126a","group":"22b36175.697c96","order":1,"width":0,"height":0,"name":"","label":"life_expectancy","format":"{{msg.payload}}","layout":"row-spread","x":985,"y":223.99999523162842,"wires":[]},{"id":"3ff5b59b.383512","type":"function","z":"2c98575a.a126a","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":160,"wires":[["ceb0379c.753c18","5eab7c7d.5db4e4"]]},{"id":"7335162c.cf0f2","type":"ui_form","z":"2c98575a.a126a","name":"","label":"","group":"22b36175.697c96","order":0,"width":"6","height":"22","options":[{"label":"Country","value":"Country","type":"text","required":true,"rows":null},{"label":"Year","value":"Year","type":"number","required":true,"rows":null},{"label":"Status","value":"Status","type":"text","required":true,"rows":null},{"label":"Adult Mortality","value":"Adult_Mortality","type":"number","required":true,"rows":null},{"label":"infant deaths","value":"infant_deaths","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"Alcohol","type":"number","required":true,"rows":null},{"label":"percentage expenditure","value":"percentage_expenditure","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"Hepatitis_B","type":"number","required":true,"rows":null},{"label":"Measles","value":"Measles","type":"number","required":true,"rows":null},{"label":"BMI","value":"BMI","type":"number","required":true,"rows":null},{"label":"under-five deaths","value":"under_five_deaths","type":"number","required":true,"rows":null},{"label":"Polio","value":"Polio","type":"number","required":true,"rows":null},{"label":"Total expenditure","value":"Total_expenditure","type":"number","required":true,"rows":null},{"label":"Diphtheria","value":"Diphtheria","type":"number","required":true,"rows":null},{"label":"HIV/AIDS","value":"HIV_or_AIDS","type":"number","required":true,"rows":null},{"label":"GDP","value":"GDP","type":"number","required":true,"rows":null},{"label":"Population","value":"Population","type":"number","required":true,"rows":null},{"label":"thinness  1-19 years","value":"thinness_1to19_ years","type":"number","required":true,"rows":null},{"label":"thinness 5-9 years","value":"thinness_5to9_years","type":"number","required":true,"rows":null},{"label":"Income composition of resources","value":"Income_composition_of_resources","type":"number","required":true,"rows":null},{"label":"Schooling","value":"Schooling","type":"number","required":true,"rows":null}],"formValue":{"Country":"","Year":"","Status":"","Adult_Mortality":"","infant_deaths":"","Alcohol":"","percentage_expenditure":"","Hepatitis_B":"","Measles":"","BMI":"","under_five_deaths":"","Polio":"","Total_expenditure":"","Diphtheria":"","HIV_or_AIDS":"","GDP":"","Population":"","thinness_1to19_ years":"","thinness_5to9_years":"","Income_composition_of_resources":"","Schooling":""},"payload":"","submit":"submit","cancel":"reset","topic":"","x":130,"y":500,"wires":[["3e2f0ef.6b25cf2"]],"icon":"node-red/file.svg"},{"id":"22b36175.697c96","type":"ui_group","z":"","name":"Life_prediction_of_country","tab":"e32060da.4fa768","order":1,"disp":true,"width":"6","collapse":false},{"id":"e32060da.4fa768","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]