life_prediction_ml.json
[{"id":"e1c622b2.0f7c38","type":"tab","label":"life_prediction_ml","disabled":false,"info":""},{"id":"a85d213b.b7eaa","type":"function","z":"e1c622b2.0f7c38","name":"PreToken","func":"global.set(\"Adult_Mortality\",msg.payload.Adult_Mortality)\nglobal.set(\"infant_deaths\",msg.payload.infant_deaths)\nglobal.set(\"Alcohol\",msg.payload.Alcohol)\nglobal.set(\"percentage_expenditure\",msg.payload.percentage_expenditure)\nglobal.set(\"Hepatitis_B\",msg.payload.Hepatitis_B)\nglobal.set(\"Measles\",msg.payload.Measles)\nglobal.set(\"BMI\",msg.payload.BMI)\nglobal.set(\"under_five_deaths\",msg.payload.under_five_deaths)\nglobal.set(\"Polio\",msg.payload.Polio)\nglobal.set(\"Total_expenditure\",msg.payload.Total_expenditure)\nglobal.set(\"Diphtheria\",msg.payload.Diphtheria)\nglobal.set(\"GDP\",msg.payload.GDP)\nglobal.set(\"Population\",msg.payload.Population)\nglobal.set(\"thinness_1to19_years\",msg.payload.thinness_1to19_years)\nglobal.set(\"thinness_5to9_years\",msg.payload.thinness_5to9_years)\nglobal.set(\"Income_composition_of_resources\",msg.payload.Income_composition_of_resources)\nglobal.set(\"Schooling\",msg.payload.Schooling)\nglobal.set(\"_Developed\",msg.payload._Developed)\nglobal.set(\"_Developing\",msg.payload._Developing)\nvar apikey=\"clnTlrO_rMC9RPP8-fxT4tU0QVU63d10kRQ7r9DP_DI2\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":380,"wires":[["3bc72d41.2e0632"]]},{"id":"3bc72d41.2e0632","type":"http request","z":"e1c622b2.0f7c38","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":539,"y":368.9999952316284,"wires":[["619298e7.849ff"]]},{"id":"339af1a8.4a067e","type":"inject","z":"e1c622b2.0f7c38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":185.5,"y":293.99999809265137,"wires":[["a85d213b.b7eaa"]]},{"id":"9a73e493.54bab8","type":"debug","z":"e1c622b2.0f7c38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":978.0000114440918,"y":110.99999713897705,"wires":[]},{"id":"619298e7.849ff","type":"function","z":"e1c622b2.0f7c38","name":"Pre Prediction","func":"var a = global.get(\"Adult_Mortality\")\nvar b = global.get(\"infant_deaths\")\nvar c = global.get(\"Alcohol\")\nvar d = global.get(\"percentage_expenditure\")\nvar e = global.get(\"Hepatitis_B\")\nvar f = global.get(\"Measles\")\nvar g = global.get(\"BMI\")\nvar h = global.get(\"under_five_deaths\")\nvar i = global.get(\"Polio\")\nvar j = global.get(\"Total_expenditure\")\nvar k = global.get(\"Diphtheria\")\nvar m = global.get(\"GDP\")\nvar n = global.get(\"Population\")\nvar o = global.get(\"thinness_1to19_years\")\nvar p = global.get(\"thinness_5to9_years\")\nvar q = global.get(\"Income_composition_of_resources\")\nvar r = global.get(\"Schooling\")\nvar s = global.get(\"_Developed\")\nvar t = global.get(\"_Developing\")\nvar token=msg.payload.access_token\nvar instance_id=\"684a42d3-9e08-440c-bb2c-730033af34b0\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"fields\": [\"Adult Mortality\",\"infant deaths\",\"Alcohol\",\"percentage expenditure\",\"Hepatitis B\",\"Measles \",\" BMI \",\"under-five deaths \",\"Polio\",\"Total expenditure\",\"Diphtheria \",\"Population\",\" thinness  1-19 years\",\" thinness 5-9 years\",\"Income composition of resources\",\"Schooling\",\"_Developed\",\"_Developing\"], \"values\": [[a,b,c,d,e,f,g,h,i,j,k,m,n,o,p,q,r,s,t]]}\nreturn msg;","outputs":1,"noerr":0,"x":736.0000076293945,"y":331.9999990463257,"wires":[["3d6bbc06.22a754"]]},{"id":"3d6bbc06.22a754","type":"http request","z":"e1c622b2.0f7c38","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/684a42d3-9e08-440c-bb2c-730033af34b0/deployments/0fe78b4c-ac5d-43a1-827c-678ccd5d24ad/online","tls":"","persist":false,"proxy":"","authType":"","x":829.5000076293945,"y":275.9999990463257,"wires":[["a397ce05.80365"]]},{"id":"4fae1878.d242c8","type":"ui_form","z":"e1c622b2.0f7c38","name":"","label":"","group":"22b36175.697c96","order":0,"width":"6","height":"22","options":[{"label":"Enter Adult Mortality","value":"Adult_Mortality","type":"number","required":true,"rows":null},{"label":"Enter infant deaths","value":"infant_deaths","type":"number","required":true,"rows":null},{"label":"Enter Alcohol","value":"Alcohol","type":"text","required":true,"rows":null},{"label":"Enter percentage expenditure","value":"percentage_expenditure","type":"text","required":true,"rows":null},{"label":"Enter Hepatitis B","value":"Hepatitis_B","type":"number","required":true,"rows":null},{"label":"Enter Measles","value":"Measles","type":"number","required":true,"rows":null},{"label":"Enter BMI","value":"BMI","type":"text","required":true,"rows":null},{"label":"Enter under-five deaths","value":"under_five_deaths","type":"number","required":true,"rows":null},{"label":"Enter Polio","value":"Polio","type":"number","required":true,"rows":null},{"label":"Enter Total expenditure","value":"Total_expenditure","type":"text","required":true,"rows":null},{"label":"Enter Diphtheria","value":"Diphtheria","type":"number","required":true,"rows":null},{"label":"Enter GDP","value":"GDP","type":"text","required":true,"rows":null},{"label":"Enter Population","value":"Population","type":"number","required":true,"rows":null},{"label":"Enter thinness  1-19 years","value":"thinness_1to19_years","type":"text","required":true,"rows":null},{"label":"Enter thinness 5-9 years","value":"thinness_5to9_years","type":"text","required":true,"rows":null},{"label":"Enter Income composition of resources","value":"Income_composition_of_resources","type":"text","required":true,"rows":null},{"label":"Enter Schooling","value":"Schooling","type":"text","required":true,"rows":null},{"label":"Enter _Developed","value":"_Developed","type":"number","required":true,"rows":null},{"label":"Enter _Developing","value":"_Developing","type":"number","required":true,"rows":null}],"formValue":{"Adult_Mortality":"","infant_deaths":"","Alcohol":"","percentage_expenditure":"","Hepatitis_B":"","Measles":"","BMI":"","under_five_deaths":"","Polio":"","Total_expenditure":"","Diphtheria":"","GDP":"","Population":"","thinness_1to19_years":"","thinness_5to9_years":"","Income_composition_of_resources":"","Schooling":"","_Developed":"","_Developing":""},"payload":"","submit":"submit","cancel":"reset","topic":"","x":170,"y":460,"wires":[["a85d213b.b7eaa"]]},{"id":"2fd4c839.8f5c78","type":"ui_text","z":"e1c622b2.0f7c38","group":"22b36175.697c96","order":1,"width":0,"height":0,"name":"","label":"life_expectancy","format":"{{msg.payload}}","layout":"row-spread","x":1005,"y":203.99999523162842,"wires":[]},{"id":"a397ce05.80365","type":"function","z":"e1c622b2.0f7c38","name":"pointing_output","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":140,"wires":[["9a73e493.54bab8","2fd4c839.8f5c78"]]},{"id":"22b36175.697c96","type":"ui_group","z":"","name":"Life_prediction_of_country","tab":"e32060da.4fa768","order":1,"disp":true,"width":"6","collapse":false},{"id":"e32060da.4fa768","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]