salary_autoai.json
[{"id":"cb740fea.29cef8","type":"tab","label":"salari autoai","disabled":false,"info":""},{"id":"3204ef4d.e9d668","type":"function","z":"cb740fea.29cef8","name":"PreToken","func":"global.set(\"ye\",msg.payload.ye)\nvar apikey=\"QVO3i6iKeMXABKHIup6mQPR1ieMTPXhqLkb4Lgj52ynP\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":380,"wires":[["9c0b6b5.945e298"]]},{"id":"9c0b6b5.945e298","type":"http request","z":"cb740fea.29cef8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":519,"y":368.9999952316284,"wires":[["5c7fe42c.b267ac"]]},{"id":"2178a202.73079e","type":"inject","z":"cb740fea.29cef8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":165.5,"y":293.99999809265137,"wires":[["3204ef4d.e9d668"]]},{"id":"7d8c86f6.e9ea2","type":"debug","z":"cb740fea.29cef8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":958.0000114440918,"y":110.99999713897705,"wires":[]},{"id":"5c7fe42c.b267ac","type":"function","z":"cb740fea.29cef8","name":"Pre Prediction","func":"var ye = global.get('ye')\nvar token=msg.payload.access_token\nvar instance_id=\"684a42d3-9e08-440c-bb2c-730033af34b0\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"YearsExperience\"], \"values\": [[ye]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":716.0000076293945,"y":331.9999990463257,"wires":[["5c50d89e.83a718"]]},{"id":"5c50d89e.83a718","type":"http request","z":"cb740fea.29cef8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/337709c2-d813-4342-bc2a-76494ead6926/predictions","tls":"","persist":false,"proxy":"","authType":"","x":809.5000076293945,"y":275.9999990463257,"wires":[["61904b0.e3dbdb4"]]},{"id":"2a4510de.86b33","type":"ui_form","z":"cb740fea.29cef8","name":"","label":"","group":"22b36175.697c96","order":0,"width":0,"height":0,"options":[{"label":"years of experience","value":"ye","type":"number","required":true,"rows":null}],"formValue":{"ye":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":111,"y":422.9999952316284,"wires":[["3204ef4d.e9d668"]]},{"id":"7dbcbe82.bd5c98","type":"ui_text","z":"cb740fea.29cef8","group":"22b36175.697c96","order":1,"width":0,"height":0,"name":"","label":"expected salary","format":"{{msg.payload}}","layout":"row-spread","x":985,"y":203.99999523162842,"wires":[]},{"id":"61904b0.e3dbdb4","type":"function","z":"cb740fea.29cef8","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":669.6000366210938,"y":171.60000133514404,"wires":[["7d8c86f6.e9ea2","7dbcbe82.bd5c98"]]},{"id":"22b36175.697c96","type":"ui_group","z":"","name":"Life_prediction_of_country","tab":"e32060da.4fa768","order":1,"disp":true,"width":"6","collapse":false},{"id":"e32060da.4fa768","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]