https:/drive.google.com/file/d/1sUrnfCnTMXQEyIMemRZMa0y_2Mg-Nx2v/salary_ml.json
[{"id":"d84b06d1.ee4688","type":"tab","label":"salary_prediction","disabled":false,"info":""},{"id":"8c8840ea.07b4a8","type":"function","z":"d84b06d1.ee4688","name":"PreToken","func":"global.set(\"ye\",msg.payload.ye)\nvar apikey=\"QVO3i6iKeMXABKHIup6mQPR1ieMTPXhqLkb4Lgj52ynP\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":255,"y":316.0000047683716,"wires":[["33719a39.8d9b36"]]},{"id":"33719a39.8d9b36","type":"http request","z":"d84b06d1.ee4688","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":454,"y":305,"wires":[["38b47d6c.06fdea"]]},{"id":"59b10520.896fc4","type":"inject","z":"d84b06d1.ee4688","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100.5,"y":230.00000286102295,"wires":[["8c8840ea.07b4a8"]]},{"id":"21f5df19.e0a2a","type":"debug","z":"d84b06d1.ee4688","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":893.0000114440918,"y":47.00000190734863,"wires":[]},{"id":"38b47d6c.06fdea","type":"function","z":"d84b06d1.ee4688","name":"Pre Prediction","func":"var ye = global.get('ye')\nvar token=msg.payload.access_token\nvar instance_id=\"684a42d3-9e08-440c-bb2c-730033af34b0\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"fields\": [\"years of experince\"], \"values\": [[ye]]}\nreturn msg;","outputs":1,"noerr":0,"x":651.0000076293945,"y":268.00000381469727,"wires":[["a8c8555d.d8061"]]},{"id":"a8c8555d.d8061","type":"http request","z":"d84b06d1.ee4688","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/684a42d3-9e08-440c-bb2c-730033af34b0/deployments/9a763189-fb81-493a-9991-6ff15567e91d/online","tls":"","persist":false,"proxy":"","authType":"","x":744.5000076293945,"y":212.00000381469727,"wires":[["35747de9.1c7f3a"]]},{"id":"a7bfaf6.7fd57d","type":"ui_form","z":"d84b06d1.ee4688","name":"","label":"","group":"22b36175.697c96","order":0,"width":0,"height":0,"options":[{"label":"years of experience","value":"ye","type":"number","required":true,"rows":null}],"formValue":{"ye":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":90,"y":380,"wires":[["8c8840ea.07b4a8"]]},{"id":"b400f1d7.ddad1","type":"ui_text","z":"d84b06d1.ee4688","group":"22b36175.697c96","order":1,"width":0,"height":0,"name":"","label":"expected salary","format":"{{msg.payload}}","layout":"row-spread","x":920,"y":140,"wires":[]},{"id":"35747de9.1c7f3a","type":"function","z":"d84b06d1.ee4688","name":"","func":"msg.payload=msg.payload.values[0][0][0]\nreturn msg;","outputs":1,"noerr":0,"x":604.6000366210938,"y":107.60000610351562,"wires":[["21f5df19.e0a2a","b400f1d7.ddad1"]]},{"id":"22b36175.697c96","type":"ui_group","z":"","name":"Life_prediction_of_country","tab":"e32060da.4fa768","order":1,"disp":true,"width":"6","collapse":false},{"id":"e32060da.4fa768","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]